<div *ngIf="isLoading" class="text-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!isLoading" class="card">

  <div class="card-header d-flex justify-content-between">
    <div style="display: flex; align-items: center">
      <small>{{formatMark(answer.mark)}}</small>
      <small class="styled-small ms-2">{{formatStatus(answer.completionStatus)}}</small>
      <small *ngIf="answer && answer.sentDate != 0" class="ms-3">{{formatDate(answer.sentDate)}}</small>
    </div>
    <div *ngIf="answer && answer.sentDate != 0">
      <button class="btn btn-outline-secondary btn-sm" (click)="openModal()"><i
        class="bi bi-pencil"></i></button>
    </div>
  </div>

  <div *ngIf="answer && answer.sentDate != 0" class="card-body">
    <p class="card-text" style="white-space: pre-line">{{answer.text}}</p>

    <!-- Файлы -->
    <div class="file-list mt-2">
      <div *ngFor="let url of answer.files; let i = index" class="card2">
        <div class="card2-body">
          <h5 class="card-title" (click)="openFileByUrl(url)">{{ i + 1 }} файл</h5>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="answer && answer.sentDate === 0" class="card-body">
    <p class="card-text">Ответа нет</p>
    <button class="btn btn-primary" (click)="openModal()">Добавить</button>
  </div>
</div>


<!-- Modal для создания/изменения задания -->
<div class="modal fade" id="answerModal" tabindex="-1" aria-labelledby="answerModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="answerModalLabel">Ответ на задание</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="form-group mt-3 mb-2">
          <textarea class="form-control" id="announcementText" style="white-space: pre-line"
                    [(ngModel)]="currentTaskText"></textarea>
        </div>

        <div class="form-group mt-3">
          <input type="file" class="form-control-file" id="fileInput" (change)="onFileSelected($event)" multiple>
        </div>

        <div *ngIf="uploadedFiles.length > 0" class="file-list mt-2">
          <div *ngFor="let file of uploadedFiles; let i = index" class="card2">
            <div class="card2-body">
              <button class="close-btn" (click)="removeUploadedFile(i)">&times;</button>
              <h5 class="card-title" (click)="openFile(file)">{{ i + 1 }} файл</h5>
            </div>
          </div>
        </div>

        <div *ngIf="uploadingFiles.length > 0" class="file-list mt-2">
          <div *ngFor="let file of uploadingFiles; let i = index" class="card2"
               [ngClass]="{'loading': file.progress != 100}">
            <div class="card2-body">
              <button class="close-btn" (click)="removeFile(i)">&times;</button>
              <h5 class="card-title" (click)="openFile(file)">{{ file.name }}</h5>
              <div *ngIf="file.progress != 100" class="overlay d-flex justify-content-center align-items-center">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" [disabled]="isUploading" (click)="saveAnnouncement()">Отправить
        </button>
      </div>
    </div>
  </div>
</div>
