<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <li class="nav-item mx-2">
        <a class="nav-link btn btn-outline-primary" routerLink="/admin/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link btn btn-outline-primary" routerLink="/admin/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link btn btn-outline-primary" routerLink="/admin/calendar" routerLinkActive="active">Calendar</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link btn btn-outline-primary" routerLink="/admin/partners" routerLinkActive="active">Partners</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link btn btn-outline-primary" routerLink="/admin/profile" routerLinkActive="active">Profile</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown mx-2">
        <a class="nav-link dropdown-toggle btn btn-outline-secondary" href="#" id="streamDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
          Выберите поток
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="streamDropdown">
          <li *ngIf="!streams.length" class="m-4">
            <p>Список потоков пуст</p>
          </li>
          <li *ngIf="streams.length">
            <div *ngFor="let stream of streams" (click)="selectStream(stream)">
              <a class="dropdown-item" href="#">{{ stream }}</a>
            </div>
          </li>
        </ul>
      </li>
      <li class="nav-item mx-2">
        <div class="nav-link btn btn-outline-success" (click)="openAddStreamModal()">
          <i class="bi bi-plus-circle"></i>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="addStreamModal" tabindex="-1" aria-labelledby="addStreamModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStreamModalLabel">Добавить новый поток</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="streamName" class="form-label">Название потока</label>
          <input type="text" class="form-control" id="streamName" [(ngModel)]="newStreamName">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" (click)="addStream()">Сохранить</button>
      </div>
    </div>
  </div>
</div>
