.nav-item .nav-link {
  margin: 0 5px;
}

.btn-outline-secondary {
  border-color: #6c757d;
  color: #6c757d;
}

.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: #fff;
}

.btn-outline-success {
  border-color: #28a745;
  color: #28a745;
}

.btn-outline-success:hover {
  background-color: #28a745;
  color: #fff;
}

.navbar-nav {
  flex-direction: row;
}
/* Стили для модального окна */
#logoutModal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Слой выше всего */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включить прокрутку, если необходимо */
  background-color: rgba(0, 0, 0, 0.6); /* Черный цвет с прозрачностью */
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px; /* Максимальная ширина */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
  animation: fadeIn 0.3s; /* Анимация появления */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.close-button {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.logout-button {
  background-color: #d9534f;
  color: white;
}

.logout-button:hover {
  background-color: #c9302c;
}

.cancel-button {
  background-color: #5bc0de;
  color: white;
}

.cancel-button:hover {
  background-color: #31b0d5;
}
