<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-header">
          Чат
        </div>
        <div class="card-header">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Напишите сообщение" [(ngModel)]="newMessage">
            <button class="btn btn-primary" (click)="sendMessage()">Отправить</button>
          </div>
        </div>
        <div class="card-body" *ngFor="let message of messages">
          <div *ngIf="message.userId === currentUserId" style="justify-content: end; width: 100%; display: flex">
            <div style="max-width: 400px" [ngClass]="{'text-end': message.userId === currentUserId, 'text-start': message.userId !== currentUserId}">
              <small class="card-subtitle mb-1 text-muted">{{formatDate(message.time)}}</small>
              <p class="card-title">{{message.name}} {{message.surname}}</p>
              <p style="display: inline-block; word-wrap:break-word; max-width: 100%; text-align: start">{{message.message}}</p>
            </div>
          </div>

          <div *ngIf="message.userId !== currentUserId">
            <div style="max-width: 400px" [ngClass]="{'text-end': message.userId === currentUserId, 'text-start': message.userId !== currentUserId}">
              <small class="card-subtitle mb-1 text-muted">{{formatDate(message.time)}}</small>
              <p class="card-title">{{message.name}} {{message.surname}}</p>
              <p style="display: inline-block; word-wrap:break-word; max-width: 100%; text-align: start">{{message.message}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-header">
          Студент
          <button class="btn btn-secondary" (click)="openEditModal()">
          <i class="bi bi-pencil"></i>
        </button>
        </div>
        <div class="card-body">
          <p>{{studentInfo.surname}} {{studentInfo.name}} <i *ngIf="studentInfo.deactivated" style="color: #c9302c" class="bi-x-circle-fill"></i></p>
          <p><strong>Место стажировки</strong> {{ studentInfo.company != null ? studentInfo.company.name : '?'}}</p>
          <p><strong>Стек стажировки</strong> {{studentInfo.techStack != null ? studentInfo.techStack.name : '?'}}</p>
          <br/>
          <p><strong>Подтвержденные офферы</strong></p>
          <div  *ngIf="studentInfo.offeredConfirmed.length != 0">
            <p *ngFor="let company of studentInfo.offeredConfirmed; let i = index">
              {{company.name}}
            </p>
          </div>
          <div  *ngIf="studentInfo.offeredConfirmed.length === 0">Отсутствуют</div>
          <div *ngIf="studentInfo.comment != null && studentInfo.comment!=''">
            <br/>
            <p><strong>Комментарий</strong></p>
            <p>{{studentInfo.comment}}</p>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">Компании</div>
        <div class="card-body">
          <h6>Приоритеты по компаниям</h6>
          <div *ngIf="studentInfo.topCompanies.length != 0">
            <p *ngFor="let company of studentInfo.topCompanies; let i = index">
              {{i + 1}} - {{company.name}}
            </p>
          </div>
          <div *ngIf="studentInfo.topCompanies.length === 0">Не заполнено</div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">Стеки</div>
        <div class="card-body">
          <h6>Приоритеты по стекам</h6>
          <div>
            <p *ngFor="let stack of studentInfo.topStacks; let i = index">
              {{i + 1}} - {{stack.name}}
            </p>
          </div>
          <div *ngIf="studentInfo.topStacks.length === 0">Не заполнено</div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">Офферы</div>
        <div class="card-body">
          <h6>Компании, которые предложили стажировку</h6>
          <div *ngIf="studentInfo.offered.length != 0">
            <p *ngFor="let company of studentInfo.offered; let i = index">
              {{i + 1}} - {{company.name}}
            </p>
          </div>
          <div *ngIf="studentInfo.topStacks.length === 0">Список пуст</div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Редактирование</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="companySelect" class="form-label">Компания</label>
            <select id="companySelect" class="form-select" [(ngModel)]="selectedCompanyId" name="selectedCompanyId">
              <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="stackSelect" class="form-label">Стек</label>
            <select id="stackSelect" class="form-select" [(ngModel)]="selectedStackId" name="selectedStackId">
              <option *ngFor="let stack of stacks" [value]="stack.id">{{stack.name}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="deactivatedSelect" class="form-label">На отчисление</label>
            <select id="deactivatedSelect" class="form-select" [(ngModel)]="newDeactivated" name="newDeactivated">
              <option *ngFor="let deactivated of [true, false]" [value]="deactivated">{{deactivated}}</option>
            </select>
          </div>
          <h5>Офферы от компаний</h5>
          <div class="mb-3">
            <div *ngFor="let company of selectedOffered; let i = index" class="d-flex align-items-center mb-2">
              <select [(ngModel)]="company.id" class="form-select me-2" name="{{company.id}}-selectedOffered">
                <option *ngFor="let s of companies" [value]="s.id">{{ s.name }}</option>
              </select>
              <input type="number" [(ngModel)]="company.priority" name="{{company.id}}-selectedOfferedPriority" class="form-control me-2" style="width: 80px;">
              <button type="button" class="btn btn-danger" (click)="removeOfferedLine(i)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
            <button type="button" class="btn btn-outline-secondary me-2" (click)="addOfferedLine()">Добавить строку</button>
          </div>
          <h5>Комментарий</h5>
          <input type="text" id="newComment" class="form-control" [(ngModel)]="newComment" name="newComment">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" (click)="updateStudentInfo()">Сохранить</button>
      </div>
    </div>
  </div>
</div>
