<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container position-relative d-flex justify-content-between align-items-center">
    <div class="position-absolute start-50 translate-middle-x">
      <div class="navbar-nav">
        <button class="btn btn-outline-primary mx-2" routerLink="/dean/announcements" routerLinkActive="active">Объявления
        </button>
        <button class="btn btn-outline-primary mx-2" routerLink="/dean/tasks" routerLinkActive="active">Задания
        </button>
        <button class="btn btn-outline-primary mx-2" routerLink="/dean/users" routerLinkActive="active">Студенты
        </button>
        <button class="btn btn-outline-primary mx-2" routerLink="/dean/marks" routerLinkActive="active">Оценки
        </button>
      </div>
    </div>
    <div class="ms-auto">
      <button class="btn btn-outline-primary mx-2" routerLink="/dean/profile" routerLinkActive="active">Профиль
      </button>
      <button class="btn btn-danger" (click)="openExitModal()">Выйти</button>
    </div>
  </div>
</nav>

<!-- Модальное окно -->
<div id="logoutModal" class="modal">
  <div class="modal-content">
    <span class="close-button" (click)="closeExitModal()">&times;</span>
    <h2>Выход из аккаунта</h2>
    <p>Вы уверены, что хотите выйти?</p>
    <div class="modal-buttons">
      <button class="cancel-button" (click)="closeExitModal()">Отмена</button>
      <button class="logout-button" (click)="logout()">Выйти</button>
    </div>
  </div>
</div>
