<div class="container">
  <div class="d-flex justify-content-between align-items-center my-3">
    <button class="btn btn-primary" (click)="previousMonth()"><i class="bi bi-arrow-left"></i> предыдущий</button>
    <h2>{{ monthName }} {{ year }}</h2>
    <button class="btn btn-primary" (click)="nextMonth()">следующий <i class="bi bi-arrow-right"></i></button>
  </div>

  <table class="table table-bordered mb-5">
    <thead>
    <tr>
      <th class="calendar-th" *ngFor="let day of shortWeekDays">{{ day }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let week of calendar">
      <td class="calendar-td" *ngFor="let day of week"
          (click)="openCreateMeetingModal(day)"
          [class.today]="isToday(day)">
        <div>{{ day.date }}</div>
        <div *ngFor="let meeting of day.meetings" class="meeting" (click)="openMeetingModal(meeting, $event)">
          {{ meeting.time * 1000 | date: 'HH:mm' }}
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Create Meeting Modal -->
<div class="modal fade" id="createMeetingModal" tabindex="-1" aria-labelledby="createMeetingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createMeetingModalLabel">Создать встречу</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="createMeeting()">
          <div class="mb-3">
            <label for="meetingTime" class="form-label">Время</label>
            <input type="time" id="meetingTime" class="form-control" [(ngModel)]="newMeeting.time" name="time" required>
          </div>
          <div class="mb-3">
            <label for="meetingAudience" class="form-label">Место проведения</label>
            <input type="text" id="meetingAudience" class="form-control" [(ngModel)]="newMeeting.audience" name="audience">
          </div>

          <div class="mb-3">
            <label for="companySelect" class="form-label">Компания</label>
            <select id="companySelect" class="form-select" [(ngModel)]="newMeeting.companyId" name="selectedCompanyId">
              <option *ngFor="let company of topCompanies" [value]="company.id">{{company.name}}</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="meetingComment" class="form-label">Комментарий</label>
            <input type="text" id="meetingComment" class="form-control" [(ngModel)]="newMeeting.comment" name="comment">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- View Meeting Modal -->
<div class="modal fade" id="viewMeetingModal" tabindex="-1" aria-labelledby="viewMeetingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewMeetingModalLabel">Информация о встрече</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>{{ selectedMeeting?.companyName }}</strong></p>

        <div class="mb-3">
          <label for="meetingUpdTime" class="form-label">Время</label>
          <input type="time" id="meetingUpdTime" class="form-control" [(ngModel)]="newMeeting.time" name="time" required>
        </div>
        <div class="mb-3">
          <label for="meetingUpdAudience" class="form-label">Место проведения</label>
          <input type="text" id="meetingUpdAudience" class="form-control" [(ngModel)]="newMeeting.audience" name="audience">
        </div>

        <div class="mb-3">
          <label for="meetingUpdComment" class="form-label">Комментарий</label>
          <input type="text" id="meetingUpdComment" class="form-control" [(ngModel)]="newMeeting.comment" name="comment">
        </div>

        <br/>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Очно</th>
              <th scope="col">Онлайн</th>
              <th scope="col">Не придет</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td class="count-td">{{ selectedMeeting?.countYes }}</td>
            <td class="count-td">{{ selectedMeeting?.countOnline }}</td>
            <td class="count-td">{{ selectedMeeting?.countNo }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteMeeting()">Удалить</button>
        <button type="submit" class="btn btn-primary" (click)="updateMeeting()">Сохранить</button>
      </div>
    </div>
  </div>
</div>
