<!-- src/app/user-profile/user-profile.component.html -->

<div class="container" *ngIf="currentUser">
  <h2>Профиль</h2>
  <form (ngSubmit)="updateUser()" class="form">
    <div class="form-group">
      <label for="login">Логин</label>
      <input id="login" [(ngModel)]="currentUser.login" name="login" class="form-control" />
    </div>
    <div class="form-group">
      <label for="name">Имя</label>
      <input id="name" [(ngModel)]="currentUser.name" name="name" class="form-control" />
    </div>
    <div class="form-group">
      <label for="surname">Фамилия</label>
      <input id="surname" [(ngModel)]="currentUser.surname" name="surname" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Обновить данные</button>
  </form>
  <div style="height: 10px;"></div>
  <button class="logout-button btn-sm" *ngIf="currentUser.role == Role.Student" (click)="openDeleteAccountModal()" >Удалить аккаунт</button>
</div>

<!-- Модальное окно -->
<div id="deleteAccountModal" class="modal">
  <div class="modal-content">
    <span class="close-button" (click)="closeDeleteAccountModal()">&times;</span>
    <h2>Удаление аккаунта</h2>
    <p>Вы уверены, что хотите удалить аккаунт?</p>
    <div class="modal-buttons">
      <button class="cancel-button" (click)="closeDeleteAccountModal()">Отмена</button>
      <button class="delete-button" (click)="deleteUser()">Удалить</button>
    </div>
  </div>
</div>
