<div class="container">
  <div class="d-flex justify-content-between align-items-center my-3">
    <button class="btn btn-primary" (click)="previousMonth()"><i class="bi bi-arrow-left"></i> предыдущий</button>
    <h2>{{ monthName }} {{ year }}</h2>
    <button class="btn btn-primary" (click)="nextMonth()">следующий <i class="bi bi-arrow-right"></i></button>
  </div>

  <table class="table table-bordered mb-5">
    <thead>
    <tr>
      <th class="calendar-th" *ngFor="let day of shortWeekDays">{{ day }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let week of calendar">
      <td class="calendar-td" *ngFor="let day of week" [class.today]="isToday(day)">
        <div>{{ day.date }}</div>
        <div *ngFor="let meeting of day.meetings" class="meeting" (click)="openMeetingModal(meeting, $event)">
          {{ meeting.time * 1000 | date: 'HH:mm' }}
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- View Meeting Modal -->
<div class="modal fade" id="viewMeetingModal" tabindex="-1" aria-labelledby="viewMeetingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewMeetingModalLabel">Информация о встрече</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Компания:</strong> {{ selectedMeeting?.companyName }}</p>
        <p><strong>Дата и время:</strong> {{ (selectedMeeting ? selectedMeeting.time * 1000 : 0) | date: 'dd.MM.yyyy, HH:mm' }}</p>
        <p><strong>Аудитория:</strong> {{ selectedMeeting?.auditorium }}</p>
        <p *ngIf="selectedMeeting?.comment != null && selectedMeeting?.comment != ''">
          <strong>Комментарий:</strong> {{ selectedMeeting?.comment }}
        </p>

        <br/>
        <table class="table">
          <thead class="thead-light">
          <tr>
            <th scope="col">Очно</th>
            <th scope="col">Онлайн</th>
            <th scope="col">Не придет</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="count-td" (click)="sendVote('Yes')">
              {{ selectedMeeting?.countYes }}
              <i *ngIf="selectedMeeting?.userVote==='Yes'" class="bi-check"></i>
            </td>
            <td class="count-td" (click)="sendVote('Online')">
              {{ selectedMeeting?.countOnline }}
              <i *ngIf="selectedMeeting?.userVote==='Online'" class="bi-check"></i>
            </td>
            <td class="count-td" (click)="sendVote('No')">
              {{ selectedMeeting?.countNo }}
              <i *ngIf="selectedMeeting?.userVote==='No'" class="bi-check"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
