<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4">
    <h2 class="text-center">Вход</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="username">Логин</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" class="form-control" required>
      </div>
      <div class="form-group mb-3">
        <label for="password">Пароль</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" required>
      </div>
      <div *ngIf="state === 'error'" class="alert alert-danger" role="alert">
        Не удалось войти
      </div>
      <button type="submit" [attr.disabled]="state === 'loading' ? '' : null" class="btn btn-primary w-100">Войти
      </button>
    </form>
  </div>
</div>
