<div class="container mt-4">
  <div class="row mb-2">
    <div class="col">
      <input type="text" class="form-control" placeholder="Поиск студента по фамилии и имени" [(ngModel)]="searchTerm">
    </div>
  </div>

  <div class="mt-2 mb-2 d-inline-flex">
    <div class="form-check me-3" *ngFor="let criterion of sortCriteria">
      <input class="form-check-input" type="radio" name="sortCriterion"
             [value]="criterion.value" [(ngModel)]="selectedCriterion"
             (change)="onSelectionChange(criterion.value)" id="{{criterion.value}}">
      <label class="form-check-label" [for]="criterion.value">
        {{ criterion.label }}
      </label>
    </div>
  </div>

  <table class="table table-hover">
    <thead class="thead-light">
    <tr>
      <th scope="col">№</th>
      <th scope="col">Студент</th>
      <th scope="col">Стажировка</th>
      <th scope="col">Чат</th>
      <th scope="col">Комментарий</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of filteredStudents(); let i = index" (click)="goToStudent(student.id)" [ngClass]="{'table-active': selectedStudent === student.id}">
      <th scope="row" class="table-secondary">{{ i + 1 }}</th>
      <td [ngClass]="getGradeClass(student)">{{ student.surname }} {{ student.name }}</td>
      <td>{{ student.companyName }}</td>
      <td>{{ formatDate(student.lastMessageTime) }}</td>
      <td>{{ student.comment }}</td>
    </tr>
    </tbody>
  </table>
</div>
