<div class="container mt-4">
  <h2 class="mb-4">Список заданий</h2>
  <div class="text-center mb-4">
    <button class="btn btn-primary" (click)="openCreateAnnouncementModal()">Добавить</button>
  </div>

  <div *ngFor="let task of tasks" class="card mb-3">
    <div class="card-header d-flex justify-content-between">

      <div>
        <button class="btn btn-primary btn-sm me-3" (click)="openTask(task.id)">Открыть</button>
        <small>{{task.editionDate != 0 ? formatDate(task.editionDate, true) : formatDate(task.creationDate)}}</small>
      </div>

      <div>
        <button class="btn btn-outline-secondary btn-sm" (click)="openEditAnnouncementModal(task)"><i
          class="bi bi-pencil"></i></button>
        <button class="btn btn-outline-danger btn-sm ms-2" (click)="confirmDeleteAnnouncement(task.id)"><i
          class="bi bi-trash"></i></button>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">{{task.text}}</p>

      <!-- Файлы -->
      <div *ngFor="let file of task.files; let i = index" class="card2">
        <div class="card2-body">
          <h5 class="card-title" (click)="openFileByUrl(file)">{{ i }}</h5>
        </div>
      </div>

      <!-- Комменты -->
      <hr>
      <div *ngFor="let comment of task.comments" class="mb-2">
        <div>
          <small>{{comment.name}} {{comment.surname}} - {{formatDate(comment.createdAt)}}
          </small>
        </div>
        <p>{{comment.text}}</p>
      </div>
      <div class="input-group mt-3">
        <input type="text" class="form-control" [(ngModel)]="newCommentText[task.id]"
               placeholder="Напишите комментарий...">
        <button class="btn btn-primary" (click)="addComment(task.id)">Отправить</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal для создания/изменения задания -->
<div class="modal fade" id="announcementModal" tabindex="-1" aria-labelledby="announcementModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="announcementModalLabel">{{ isEditingAnnouncement ? 'Изменить задание' : 'Создать задание' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="date">Дедлайн</label>
          <input type="date"
                 id="date"
                 class="form-control"
                 [(ngModel)]="selectedDate">
        </div>
        <div class="form-group mt-2">
          <input type="time"
                 class="form-control"
                 [(ngModel)]="selectedTime">
        </div>

        <div class="form-group mt-3 mb-2">
          <label for="announcementText">Текст задания</label>
          <textarea class="form-control" id="announcementText" [(ngModel)]="currentTaskText"></textarea>
        </div>

        <div class="form-group mt-3">
          <input type="file" class="form-control-file" id="fileInput" (change)="onFileSelected($event)" multiple>
        </div>

        <div *ngIf="uploadingFiles.length > 0" class="file-list mt-2">
          <div *ngFor="let file of uploadingFiles; let i = index" class="card2" [ngClass]="{'loading': file.progress != 100}">
            <div class="card2-body">
              <button class="close-btn" (click)="removeFile(i)">&times;</button>
              <h5 class="card-title" (click)="openFile(file)">{{ file.name }}</h5>
              <div *ngIf="file.progress != 100" class="overlay d-flex justify-content-center align-items-center">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" [disabled]="isUploading"
                (click)="saveAnnouncement()">{{ isEditingAnnouncement ? 'Сохранить' : 'Создать' }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal для подтверждения удаления задания -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">Подтверждение удаления</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите удалить задание?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger" (click)="deleteAnnouncement()">Удалить</button>
      </div>
    </div>
  </div>
</div>
