<div class="container mt-4">
  <button class="btn btn-primary mb-3" (click)="openAddModal()">Добавить объявление</button>

  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Загрузка...</span>
    </div>
  </div>

  <div class="list-group" *ngIf="!isLoading">
    <div *ngFor="let announcement of announcements" class="list-group-item mb-3">
      <p class="announcement-text">{{announcement.text}}</p>
      <p class="announcement-author">{{announcement.name}} {{announcement.surname}} -
        {{announcement.updatedAt != announcement.createdAt ? formatDate(announcement.updatedAt, true) : formatDate(announcement.createdAt)}}</p>
      <p>Комментариев: {{announcement.comments.length}}</p>
      <button class="btn btn-secondary btn-sm" (click)="openEditModal(announcement)">Редактировать</button>
      <button class="btn btn-danger btn-sm" (click)="deleteAnnouncement(announcement.id)">Удалить</button>
      <div *ngFor="let comment of announcement.comments" class="comment mt-2">
        <div *ngIf="comment.id">
          <small>{{comment.name}} {{comment.surname}}: {{comment.text}} -
            {{comment.updatedAt != comment.createdAt ? formatDate(comment.updatedAt, true) : formatDate(comment.createdAt)}}</small>
          <!-- Add buttons for editing and deleting comments if necessary -->
        </div>
      </div>
      <form (ngSubmit)="addComment(announcement.id, commentText.value)" class="mt-2">
        <input type="text" #commentText class="form-control" placeholder="Добавить комментарий">
        <button type="submit" class="btn btn-primary btn-sm mt-1">Отправить</button>
      </form>
    </div>
  </div>
</div>

<!-- Announcement Modal -->
<div #announcementModal class="modal fade" tabindex="-1" aria-labelledby="announcementModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="announcementModalLabel">{{isEditing ? 'Редактировать' : 'Добавить'}} объявление</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveAnnouncement()">
          <div class="mb-3">
            <label for="text" class="form-label">Текст</label>
            <textarea id="text" class="form-control" [(ngModel)]="announcementText" name="text" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>
