<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container position-relative d-flex justify-content-between align-items-center">
    <div class="position-absolute start-50 translate-middle-x">
      <div class="navbar-nav">
        <button class="btn btn-outline-primary mx-2" routerLink="/student/announcements" routerLinkActive="active">Объявления
        </button>
        <button class="btn btn-outline-primary mx-2" routerLink="/student/calendar" routerLinkActive="active">Календарь
        </button>
        <button class="btn btn-outline-primary mx-2" routerLink="/student/tasks" routerLinkActive="active">Задания
        </button>
        <button class="btn btn-outline-primary mx-2" routerLink="/student/partners" routerLinkActive="active">Компании
        </button>
      </div>
    </div>
    <div class="ms-auto">
      <button class="btn btn-outline-primary mx-2" routerLink="/student/profile" routerLinkActive="active">Профиль
      </button>
      <button class="btn btn-danger" (click)="openExitModal()">Выйти</button>
    </div>
  </div>
</nav>

<!-- Logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Выход из аккаунта</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Вы уверены, что хотите выйти?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger" (click)="logout()">Выйти</button>
      </div>
    </div>
  </div>
</div>
