<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container position-relative d-flex justify-content-between align-items-center">
    <div class="position-absolute start-50 translate-middle-x">
      <div class="navbar-nav">
        <button class="btn btn-outline-primary mx-2" routerLink="/student/announcements" routerLinkActive="active">Лента
        </button>
        <button class="btn btn-outline-primary mx-2" routerLink="/student/calendar" routerLinkActive="active">Календарь
        </button>
        <button class="btn btn-outline-primary mx-2" routerLink="/student/tasks" routerLinkActive="active">Задания
        </button>
        <button class="btn btn-outline-primary mx-2" routerLink="/student/partners" routerLinkActive="active">Компании
        </button>
      </div>
    </div>
    <div class="ms-auto">
      <button class="btn btn-outline-primary mx-2" routerLink="/student/profile" routerLinkActive="active">Профиль
      </button>
      <button class="btn btn-danger">Выйти</button>
    </div>
  </div>
</nav>
