<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          Чат
        </div>
        <div class="card-body" *ngFor="let message of messages">
          <div
            [ngClass]="{'text-end': message.senderId === currentUserId, 'text-start': message.senderId !== currentUserId}">
            <div class="card mb-2"
                 [ngClass]="{'bg-primary text-white': message.senderId === currentUserId, 'bg-light': message.senderId !== currentUserId}">
              <div class="card-body">
                <h5 class="card-title">{{message.name}} {{message.surname}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{message.time | date:'short'}}</h6>
                <p class="card-text">{{message.message}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Напишите сообщение" [(ngModel)]="newMessage">
            <button class="btn btn-primary" (click)="sendMessage()">Send</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-header">
          Студент
        </div>
        <div class="card-body">
          <p><strong>Логин</strong> {{studentInfo.login}}</p>
          <p><strong>Имя</strong> {{studentInfo.name}}</p>
          <p><strong>Фамилия</strong> {{studentInfo.surname}}</p>
          <p><strong>Место стажировки</strong> {{ studentInfo.company != null ? studentInfo.company.name : ''}}</p>
          <p><strong>Стек стажировки</strong> {{studentInfo.techStack != null ? studentInfo.techStack.name : ''}}</p>
          <button class="btn btn-secondary" (click)="openEditModal()">
            <i class="bi bi-pencil"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Редактирование</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="companySelect" class="form-label">Компания</label>
            <select id="companySelect" class="form-select" [(ngModel)]="selectedCompanyId" name="selectedCompanyId">
              <option *ngFor="let company of topCompanies" [value]="company.id">{{company.name}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="stackSelect" class="form-label">Стек</label>
            <select id="stackSelect" class="form-select" [(ngModel)]="selectedStackId" name="selectedStackId">
              <option *ngFor="let stack of topStacks" [value]="stack.id">{{stack.name}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" (click)="updateStudentInfo()">Сохранить</button>
      </div>
    </div>
  </div>
</div>
